{% extends 'homepage/skeleton.html' %}

{% block body %}
<!--                     updated-->
{% if query %}
    <div class="userHead">
        <h3>Search results for: {{query}}</h3>
    </div>
{% endif %}

{% if error %}
    <div class="container">
        <div class="alert alert-warning alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Warning!</strong> {{error}}
        </div>
    </div>
{% endif %}

{% if success %}
    <div class="container">
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Logout Successful!</strong> {{success}}
        </div>
    </div>
{% endif %}
<div class="container">
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Register Successful!</strong> {{register}}
        </div>
    </div>
{% if register %}
    
{% endif %}
<!--                     updated-->
<section class="post_section">

    {% for post in posts %}
        <div class="user_post">
            <div class="item_name">
                <p>{{post.item_name}}</p>
            </div>

            <div class="item">
                <div class="thumbnail">
                    <!--                     updated-->
                    <a href="{% url 'postdet' post.id %}" ><img src="{{post.thumbnail.url}}" style="width: 100%; height: 100%"></a>
                <!--                     updated-->
                </div>
                <div class="item_info">
<!--                     updated-->
                    <p><strong>Vendor:</strong> <a href ="{% url 'user' post.op.id %}">{{post.op.first_name}}</a>
                    <p><strong>Quantity:</strong> {{post.quantity}}</p>
                    <p><strong>Tags:</strong>
                        {% for tag in post.tags.all %}
                        <a href="{% url 'searchTg' tag.slug %}">{{tag.name}}</a>
                        {% endfor %}
                    </p>
<!--                     updated-->
                </div>
            </div>
        </div>

    {% endfor %}
</section>
{% include 'homepage/pagination.html' with page=posts %}


{% endblock %}
