
{% extends 'homepage/skeleton.html' %}
{% block body %}
<section class="path_section">
    <span>
        <a href="{% url 'all_user' %}" value="1">User Profiles</a>
    </span>
</section>
<br>
<section class="post_section">
    {% for post in all_p %}
        <div class="user_post">
            <div class="item_name">
                <p>{{post.item_name}}</p>

            </div>

            <div class="item">
                <div class="thumbnail">
                    <img src="{{post.thumbnail}}">
                </div>
                <div class="item_info">
                    <p><br>Vendor: <a href ="{% url 'user' post.op.id %}">{{post.op.username}}</a> <br>Quantity: {{post.quantity}}</p>
                </div>

            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
