{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!--<link rel="stylesheet" type="text/css" href="{% static 'userprof/style.css' %}"/>-->

<title>New Beginings Marketplace</title>
<h1>This is the Home page</h1>
<section class="nav_section">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            
            <div class="navbar-header">
                <a href="/" class="navbar-brand">NBM</a>
            </div>
            
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Sign-up</a></li>
                </ul>
            </div>
        </div>
        
        
    </nav>
</section>

<section class="path_section">
    <span>
        <a href="{% url 'all_user' %}" value="1">User Profiles</a>
    </span>
</section>
</br>
<section class="post_section">
    {% for post in all_p %}
        <div class="user_post">
            <p>Item name: {{post.item_name}}</br>Quantity: {{post.quantity}}</br>User: <a href ="{% url 'user' post.op.id %}">{{post.op.name}}</a></br></p>
        </div>
    {% endfor %}
</section>