<html>
    <head>
        {% load staticfiles %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'userprof/style.css' %}"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <title>{% block title %}New Beginings Marketplace{% endblock %}</title>
    </head>
    <body>
        <section class="nav_section">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

    <!--            Home logo-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">NBM</a>
                </div>
    <!--            actual navigation-->
                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="nav navbar-nav">
<!--                        updated-->
                        {% if log_user.is_authenticated  %}
                        <li style="visibility: hidden" class="dropdown">
                        {% else %}
                        <li style="visibility: visible" class="dropdown">
                        {% endif %}
<!--                                updated-->
                            <a href="{% url 'login' %}" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                            <ul class="dropdown-menu" id="userlog">
                                <li>
                                    <form class="navbar-form navbar-left" role="form" method="post" action="{% url 'login' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="username" value="" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password" value="" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default btn-block">Login</button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
<!--                        updated-->
                        {% if log_user.is_authenticated  %}
                            <li style="visibility: hidden">
                        {% else %}
                            <li style="visibility: visible ">
                        {% endif %}
                            <a href="{% url 'register' %}" data-toggle="modal" data-target="#regform">Sign-up</a>
                        </li>
<!--                        updated-->
                    </ul>

                    <div class="modal fade" id="regform">
                        <div class="modal-dialog">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="postform">
                        <div class="modal-dialog">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" style="visibility:{% block pageno %} visible {% endblock %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items per Page <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="text-align: center;">
<!--                                updated-->
                                {% if not query %}
                                <li><a href="{% url 'index' %}">10</a></li>
                                <li><a href="{% url 'indexPage' 15 %}" >15</a></li>
                                <li><a href="{% url 'indexPage' 20 %}">20</a></li>
                                {% else %}
                                <li><a href="{% url 'qPage' query 10 %}">10</a></li>
                                <li><a href="{% url 'qPage' query 15 %}" >15</a></li>
                                <li><a href="{% url 'qPage' query 20 %}">20</a></li>
                                {% endif %}
<!--                                updated-->
                            </ul>
                        </li>
                        <li>
                            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search' %}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="q" placeholder="Search" value="{{request.GET.q}}">
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
                            </form>
                        </li>
                        {% if log_user.is_authenticated  %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span><span class="badge">{{offers.count}}</span></a>
                            <ul class="dropdown-menu">
                              {% if offers %} <!-- ETO YUNG BINAGO (CAPS PARA KITA) -->
                                {% for offer in offers %}
                                <li><a href=" {% url 'postdet' offer.post.id %}">{{offer.user}} made an offer on your {{offer.post}}</a></li>
                                {% endfor %}
                              {% endif %}
                            </ul>



                        </li>
                        {% endif %}
<!--                        updated-->
                        {% if log_user.is_authenticated  %}
                            <li class="dropdown" style="visibility: visible">
                        {% else %}
                            <li class="dropdown" style="visibility: hidden ">
                        {% endif %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{log_user.first_name}} <span class="caret"></span></a>
<!--                                updated-->
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'createpost' %}" data-toggle="modal" data-target="#postform">Create a Post</a></li>
<!--                                updated-->
                                {% if log_user.is_authenticated  %}
                                <li><a href="{% url 'user' log_user.id %}">My Profile</a></li>
                                {% else %}
                                <li><a href="#">My Profile</a></li>
<!--                                updated-->
                                {% endif %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </section>


    {% block body %}
    {% endblock %}

    </body>
</html>
