{% extends 'homepage/skeleton.html' %}
{% block title %} User# {{user.id}} {% endblock %}
{% block pageno %} hidden {% endblock %}

{% block body %}
    <section class="userinf">
<!--        updated-->
        <div class="userHead">
            <h3>User Profile</h3>
        </div>
        <div class="userdet">
            <p><strong>Name:</strong> {{user.first_name}} {{user.last_name}}</p>
            <p><strong>Degree:</strong> {{user.profile.degree}}</p>
        </div>
        <div class="userHead">
            <h3>User Posts</h3>
        </div>
<!--        updated-->
     </section>

    <section class="post_section">
<!--                        updated-->
        {% for post in posts %}
<!--                        updated-->
            <div class="user_post">
                <div class="item_name">
                    <p>{{post.item_name}}</p>
                </div>

                <div class="item">
                    <div class="thumbnail">
<!--                        updated-->
                        <a href="{% url 'postdet' post.id %}"><img src="{{post.thumbnail.url}}" style="width: 100%; height: 100%"></a>
                    </div>
                    <div class="item_info">

                        <p><strong>Quantity:</strong> {{post.quantity}}</p>
                        <p><strong>Tags:</strong>
                            {% for tag in post.tags.all %}
                            <a href="{% url 'searchTg' tag.slug %}">{{tag.name}}</a>
                            {% endfor %}
                        </p>
<!--                        updated-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
<!--                        updated-->
{% include 'homepage/pagination.html' with page=posts %}
<!--                        updated-->
{% endblock %}
