{% extends 'homepage/skeleton.html' %}
{% block title %} User# {{user.id}} {% endblock %}
{% block pageno %} hidden {% endblock %}

{% block path %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'all_user' %}">Users</a></li>
    <li class="active"> {{user.id}} </li>
{% endblock %}

{% block body %}
    <section id="userinf">
        <p>Name: {{user.first_name}}  {{user.last_name}} <br> Degree: {{user.profile.degree}}<br>Posts:<br></p>
     </section>

    <section class="post_section">
        {% for post in all_upost %}
            <div class="user_post">
                <div class="item_name">
                    <p>{{post.item_name}}</p>

                </div>

                <div class="item">
                    <div class="thumbnail">
                        <img src="{{post.thumbnail}}">
                    </div>
                    <div class="item_info">
                        <p><br>Quantity: {{post.quantity}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
<!--{% include 'homepage/pagination.html' with page=all_upost %}-->
{% endblock %}
