
<h1>This is user # {{user.id}} </h1>

<section class="nav_section">
    <nav>
        <!-- <a href="{% url 'login:index' %}">Login</a>
        <a href="{% url 'register:index' %}">Sign-up</a> -->
    </nav>
</section>

<section class="path_section">
    <span>
        <a href="{% url 'user_prof:index' %}" value="1">User Profiles</a>
    </span>
</section>
</br>

<section id="userinf">
    <p>Name: {{user.name}} </br> Degree: {{user.degree}}</br></br>Posts:</br></p>
 </section>

<section class="post_section">
    {% for post in all_upost %}
        <div class="user_post">
            <p>Item name: {{post.item_name}}</br>Quantity: {{post.quantity}}</br></p>
        </div>
    {% endfor %}
</section>
<a href="{% url 'user_prof:index' %}" class="retAnchor">Back To User Profiles</a> <br>
<a href = "/" class = "retAnchor"> Back to Home </a>
